<%- include("./partials/header") -%>
      

    <!-- ABOUT SITE START  -->
    <section id="about-site" class="container pb-5">
        <h1 class="text-center my-5">About the site</h1>

        <h2>A demonstration site</h2>
        <br />
        <p>
          The purpose of this site is to demonstrate my skills in programming
          and web development to potential employers and practice what I have
          learnt. I know that there are many rooms for improvement for this
          site. Some I know, some I don't know. Yes, I really don't know them
          all since I started programming just recently. As you may have
          guessed, my skills are just within entry level so I'm only applying
          for entry level positions.
        </p>

        <p>
          As you've seen from the home page, this site was built from front-end
          to back-end. I separated the development of front-end with the
          back-end through branching with git. I tried to do this on my own way.
          I know I am nowhere near the best practice or the appropriate method
          to do this since I haven't got the experience working with a team of
          developers. So if you are willing to take me to your team, then please
          go ahead and mail me at blitzdex27@gmail.com.
        </p>

        <p></p>

        <!-- some  -->

        <!-- ABOUT SITE END  -->
      </section>

      <!-- ABOUT ME START  -->
      <hr />
      <section id="about-me">
        <div class="container pb-5">
          <h1 class="text-center my-5">About me</h1>

          <h2>Dexter Ramos</h2>
          <p>“A career shifter”</p>

          <p>
            I am currently looking for a company to start my career shift that
            accepts entry level like me in the programming field. A job such as,
            but not limited to, "Associate Software Engineer", "Junior Software
            Engineer", "Full stack Web Developer", and "Programmer/Developer
            Trainee".
          </p>

          <p>
            I have just finished a web development course from udemy and am
            trying to build a demonstration site for employment. As you can see,
            this is my demo site. This is still in development and I haven't
            used React here yet. I built this site as my first site to
            consolidate my knowledge in basics such as HTML, CSS, JavaScript,
            databases, and node. I will upgrade this site eventually using React
            and other more advanced frameworks out there.
          </p>
          <p>
            My passion for programming started from playing games when I was a
            child. At first, we paid someone to install a game on my pc, then I
            started replicating it. I started buying game CDs and installed them
            by reading the instructions. When I got into high school, I came
            across this subject called Visual Basic. We wrote down some code in
            the computer, and a text box appeared with the text I specified.
            That shocked my mind, it was a bit similar to boxes that were
            popping out in my game. I thought to myself, "So, I can create a
            game that I designed myself."
          </p>

          <p>
            I studied electrical engineering because of curiosity, and to
            challenge myself. Although I love programming, I thought that I
            could just learn it from books, computers, and the internet while
            studying other majors. I was a child back then and was greedy for
            knowledge. I was naive, I did not have those resources in my
            boarding house as the school that offers the least amount of tuition
            fee is far from home, and I had to rent from shops to do some simple
            assignments.
          </p>

          <p>
            So after finishing my degree and passing the board, I was driven by
            momentum of academic success. I worked as an electrical engineer and
            as an instructor in a university. However, as time goes by, there
            was this feeling of emptiness that slowly got bigger. I am doing
            good with my job but I can't feel a sense of satisfaction and joy. I
            realized that I set aside my passion for too long, much like I have
            forgotten about it because I had to give it my all just to pass in
            my degree and work.
          </p>

          <p>
            Currently, I am studying programming wholeheartedly. I purchased a
            full course of Python from Udemy because I can see a good future in
            this language based on the articles I read. I also purchased a
            course which teaches in-demand skills in the industry, "Full stack
            Web Development" that teaches front-end, back-end, and databases
            taught by Angela Yu. I have completed this course and started
            building my demo site.
          </p>

          <p>
            I love reading. If you asked me what I choose between a teacher and
            a book, I would say both. I know I cannot learn everything in a
            teacher. Basically, I just try to absorb how the teacher thinks, how
            he/she does things, his/her method, perspective, and resources. In
            short, I always thought that a teacher teaches only what is
            practical because he/she went through it. However, whenever I am
            listening, there are questions being generated in the back of my
            mind, so many questions that I lose track of them as the lesson goes
            by. In my perspective, it is not appropriate to ask deep, specific,
            and theoretical questions. The teacher prepares the lessons with
            care, knowing what knowledge you require, and while keeping
            information that is not yet needed. So if you want a deep, specific,
            and theoretical knowledge, you need to read books. The teacher's
            energy was already expended preparing a content delivery method that
            even a student with a lack of foundation can understand, so I think
            it is a student's responsibility to read to get more information and
            build more foundations.
          </p>

          <p>
            PS: I am a bit good at expressing myself and constructing words in a
            message. However, it is a bit hard for me when voicing it out.
            Although I can understand and speak English well, when it comes to
            expressing myself, it was a bit hard for me. It's like the
            information is buried very deep inside me. If you reached this line,
            then I want to thank you for giving time and effort for reading. As
            thanks, you may go ahead to my GitHub repository by searching
            blitzdex27. There are many repositories inside, just look for the
            blog-app repository. You can check my codes and effort in does this
            site.
          </p>
          <br />
          <p class="fw-bold">Dexter</p>
          <p>Website owner and creator</p>
        </div>

        <!-- ABOUT ME END  -->
      </section>



<%- include("./partials/footer") -%>

