<%- include("./partials/header") -%>

     <!-- SECTION: AUTHOR'S NOTE START  -->
     <section id="author-note">
      <div class="container py-5">
        <div class="d-flex justify-content-around flex-wrap">
          <!-- Author's note  -->
          <div class="note-content">
            <h1>Hey there! It's Dexter.</h1>
            <hr />
            <h2>
              Welcome to my demo site! The site is still in development. Feel
              free to look around 😊
            </h2>
            <br />
            <p>
              To see the core features, sign up. It's secure. You can use any
              made-up password and email. Alternatively, for more security,
              just sign in using your Google account!
            </p>

            <!-- Quick link: User blog button -->
            <button class="btn btn-lg btn-dark mt-3">User blogs</button>
            <button class="btn btn-lg btn-primary mt-3 ms-3">
              Sign up to try it
            </button>
            <hr />
            <p class="text-muted">
              PS: I just started learning Web Development last mid February so
              I'm in your care!
            </p>
          </div>

          <!-- GIF  -->
          <div class="note-image">
            <img src="../public/images/html-tag.gif" alt="" />
          </div>
        </div>
      </div>
      <!-- SECTION: AUTHOR'S NOTE END  -->
    </section>

    <!-- SECTION: FEATURES START -->

    <section id="features">
      <div class="container py-1">
        <h1 class="mb-5">Features</h1>
        <!-- Features container flex start -->
        <div class="d-flex justify-content-around flex-wrap">
          <!-- Individual feature 1 start  -->
          <div class="feature-item">
            <div class="feature-img d-flex align-items-center">
              <img
                class="rounded mx-auto d-block"
                src="../public/images/New-Google-Logo.jpg"
                alt=""
              />
            </div>

            <div class="feature-name">
              <h3>Google Sign in</h3>
            </div>

            <div class="feature-desc">
              <p class="text-muted">
                Securely signin using Google. No need for password.
              </p>
            </div>
          </div>
          <!-- Individual feature 1 end  -->
          <!-- Individual feature 2 start  -->
          <div class="feature-item">
            <div class="feature-img d-flex align-items-center">
              <img
                class="rounded mx-auto d-block"
                src="../public/images/mongodb-logo.png"
                alt=""
              />
            </div>

            <div class="feature-name">
              <h3>MongoDB Atlas</h3>
            </div>

            <div class="feature-desc">
              <p class="text-muted">
                Data can be accessed from anywhere but not anyone. Data is
                stored in MongoDB cloud database.
              </p>
            </div>
          </div>
          <!-- Individual feature end 2  -->

          <!-- Individual feature 3 start  -->
          <div class="feature-item">
            <div class="feature-img d-flex align-items-center">
              <img
                class="rounded mx-auto d-block node-img"
                src="../public/images/node-express-logo.png"
                alt=""
              />
            </div>

            <div class="feature-name">
              <h3>Node.js and Express.js</h3>
            </div>

            <div class="feature-desc">
              <p class="text-muted">
                The back-end was designed using Node.js through Express.js as
                framework.
              </p>
            </div>
          </div>
          <!-- Individual feature end 3  -->

          <!-- Individual feature start 4  -->
          <div class="feature-item">
            <div class="feature-img d-flex align-items-center">
              <img
                class="rounded mx-auto d-block"
                src="../public/images/html-css-js.png"
                alt=""
              />
            </div>

            <div class="feature-name">
              <h3>HTML, CSS, and JavaScript</h3>
            </div>

            <div class="feature-desc">
              <p class="text-muted">
                The front-end was constructed using basic HTML, CSS, and
                JavaScript.
              </p>
            </div>
          </div>
          <!-- Individual feature 4 end  -->

          <!-- Individual feature start 5  -->
          <div class="feature-item">
            <div class="feature-img d-flex align-items-center">
              <img
                class="rounded mx-auto d-block ejs-logo"
                src="../public/images/ejs-logo.png"
                alt=""
              />
            </div>

            <div class="feature-name">
              <h3>Embedded JavaScript</h3>
            </div>

            <div class="feature-desc">
              <p class="text-muted">
                EJS was used to further refactor the HTML codes.
              </p>
            </div>
          </div>
          <!-- Individual feature end 5  -->

          <!-- Individual feature start 6  -->
          <div class="feature-item">
            <div class="feature-img d-flex align-items-center">
              <img
                class="rounded mx-auto d-block"
                src="../public/images/bootstrap.png"
                alt=""
              />
            </div>

            <div class="feature-name">
              <h3>Bootstrap</h3>
            </div>

            <div class="feature-desc">
              <p class="text-muted">
                The site style was designed faster through Bootstrap.
              </p>
            </div>
          </div>
          <!-- Individual feature end 6  -->

          <!-- Individual feature start 7  -->
          <div class="feature-item">
            <div class="feature-img d-flex align-items-center">
              <img
                class="rounded mx-auto d-block git-logo"
                src="../public/images/git-logo.jpeg"
                alt=""
              />
            </div>

            <div class="feature-name">
              <h3>GitHub and git</h3>
            </div>

            <div class="feature-desc">
              <p class="text-muted">
                Version control system was used. Git for local, and GitHub for
                remote.
              </p>
            </div>
          </div>
          <!-- Individual feature end 7  -->

          <!-- Features container flex end -->
        </div>
      </div>

      <!-- SECTION: FEATURES END -->
    </section>
    <!-- SECTION: TESTIMONIALS START -->
    <section id="testimonials">
      <div class="carousel-container fst-italic">
        <div
          id="tesimonialCarousel"
          class="carousel slide text-center"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h2>
                "Did you have fun? Try composing a blog by signing in. I
                recommend signing in using your Google account but you can
                sign up using any password you would like."
              </h2>
              <p>- Dexter</p>
            </div>
            <div class="carousel-item">
              <h2>
                "Cool! Are you finished? Please give me a feedback through the
                form below so I can add some testimonials in this section if
                you will allow."
              </h2>
              <p>- Dexter</p>
            </div>
            <div class="carousel-item">
              <h2>"I will upgrade this using React next month!"</h2>
              <p>- Dexter</p>
            </div>
          </div>
          <!-- Buttons for carousel  -->
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#tesimonialCarousel"
            data-bs-slide="prev"
          >
            <span
              class="carousel-control-prev-icon"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#tesimonialCarousel"
            data-bs-slide="next"
          >
            <span
              class="carousel-control-next-icon"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Next</span>
          </button>

          <!-- Carousel indicators  -->
          <div class="d-block">
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#tesimonialCarousel"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#tesimonialCarousel"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#tesimonialCarousel"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
            </div>
          </div>
        </div>
      </div>

      <!-- SECTION: TESTIMONIALS END -->
    </section>

    <!-- SECTION: FEEDBACK START -->
    <section id="feedback">
      <h1 class="text-center">Give this site a feedback!</h1>
      <div class="feedback-container">
        <form action="POST">
          <div class="mb-3">
            <label for="feedbackEmail" class="form-label"
              >Email address</label
            >
            <input
              id="feedbackEmail"
              type="email"
              class="form-control"
              aria-describedby="emailHelp"
              placeholder="john@doe.com"
            />
            <div id="emailHelp" class="form-text">
              I will not share your email!
            </div>
          </div>

          <div class="mb-3">
            <label for="feedbackName" class="form-label">Name</label>
            <input
              id="feedbackName"
              type="text"
              class="form-control"
              aria-describedby="nameHelp"
              placeholder="John Doe"
            />
            <div id="nameHelp" class="form-text">
              It's better if you provide your name too!
            </div>
          </div>

          <div class="mb-3">
            <label for="feedbackContent" class="form-label">Content</label>
            <textarea
              name="feedbackContent"
              id="feedbackContent"
              rows="5"
              class="form-control"
              aria-describedby="contentHelp"
              placeholder="Your feedback will help me!"
            ></textarea>
            <div id="contentHelp" class="form-text">
              Please be specific with your feedback content!
            </div>
          </div>

          <div class="mb-3 form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="feedbackCheck"
              aria-describedby="checkHelp"
            />
            <label class="form-check-label" for="exampleCheck1">Agree</label>
          </div>
          <div id="checkHelp" class="form-text">
            By marking this checkbox, you agree to publicly post your feedback
            as testimonial in within this site. Your feedback may or may not
            be posted in this site.
          </div>
          <br />
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <!-- SECTION: FEEDBACK END -->
    </section>


<%- include("./partials/footer") -%>