/* Nav bar: User context menu dropdown  */
body nav div.dropdown {
  display: inline-block;
  font-size: medium;
}
/* Nav bar: User profile picture  */
body nav div img.rounded-circle {
  width: 30px;
}

/* Nav bar: Brand */
.navbar-brand {
  color: yellow !important;
}

.page {
  min-height: 120vh;
}

/* AUTHOR NOTE SECTION START */
#author-note {
  background-color: yellow;
  min-height: 70vh;
}

#author-note h1 {
  font-size: 60px;
}

#author-note .note-content {
  max-width: 50%;
}

#author-note .note-image {
  text-align: center;
}

/* AUTHOR NOTE SECTION END */

/* FEATURE SECTION START  */
#features {
  text-align: center;
  min-height: 70vh;
}

#features h1 {
  font-size: 50px;
  display: none;
}
#features img {
  width: 100px;
  /* display: inline-block; */
}
.feature-img {
  height: 150px;
}
.feature-item {
  max-width: 210px;
  margin: 3rem;
}

#features .node-img {
  width: 80%;
}
#features .ejs-logo {
  width: 90%;
}
#features h3 {
  font-size: 22px;
}
#features p {
  font-size: 15px;
}
#features .git-logo {
  width: 90%;
}
/* FEATURE SECTION END  */

/* TESTIMONIALS SECTION START  */
#testimonials {
  min-height: 70vh;
  background-color: tomato;
}

#testimonials .testi-cont {
  height: 70vh;
}

.carousel-container {
  vertical-align: middle;
  padding-top: 200px;
}

.carousel-indicators {
  top: 200px;
}

.carousel-item {
  padding: 0 200px;
}
/* TESTIMONIALS SECTION END  */

/* FEEDBACK START  */
#feedback {
  padding: 2rem;
}
.feedback-container {
  padding: 1.5rem;
  margin: 2rem 20rem;
}
/* FEEDBACK END  */

/* LOGIN AND SIGN UP START  */

#signup .page-single-form-container {
  padding: 3rem;
  margin: 2rem 20rem;
}
/* LOGIN AND SIGN UP END  */

/* USER BLOGS START  */
#user-blogs .user-blogs {
  height: 80vh;
}
#user-blogs .blog-date {
  position: absolute;
  right: 15px;
  /* font-size: 10px; */
}
/* USER BLOGS END  */

/* BREAKPOINTS  */
@media screen and (max-width: 1200px) {
  .carousel-item {
    padding: 0 150px;
  }
  .feedback-container {
    margin: 2rem 15rem;
  }
  #signup .page-single-form-container {
    padding: 1.5rem;
    margin: 1.5rem 15rem;
  }
}

@media screen and (max-width: 992px) {
  #author-note .note-content {
    max-width: 50%;
  }

  #author-note .note-image {
    width: 50%;
  }
  #author-note .note-image img {
    width: 80%;
  }
  .carousel-item {
    padding: 0 100px;
  }
  .feedback-container {
    margin: 2rem 10rem;
  }
  #signup .page-single-form-container {
    padding: 1.5rem;
    margin: 1rem 10rem;
  }
}

@media screen and (max-width: 768px) {
  #author-note .note-content {
    max-width: 100%;
  }

  #author-note .note-image {
    width: 100%;
  }
  #author-note .note-image img {
    width: 60%;
  }
  .carousel-item {
    padding: 0 75px;
  }
  .feedback-container {
    margin: 2rem 5rem;
  }
  #testimonials h2 {
    font-size: 20px;
  }
  #signup .page-single-form-container {
    padding: 1.5rem;
    margin: 1rem 5rem;
  }
}

@media screen and (max-width: 576px) {
  .carousel-item {
    padding: 0 50px;
  }
  .feedback-container {
    margin: 2rem 1rem;
  }
  #signup .page-single-form-container {
    padding: 1.5rem;
    margin: 0.5rem 1rem;
  }
}
